@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body {
  font-family: 'Press Start 2P', cursive;
}

#game-root {
  width: 50vw;
  margin: 0 auto;
  padding: 2em;
  background: #000;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(90deg, white 10px, white 20px);
}
.title {
  text-align: center;
  font-size: 2em;
  color: #fff;
  text-shadow: 1px -3px 0 red, 2px -6px 0 blue;
}

.table__row {
  display: flex;
}
.table__cell {
  flex-grow: 1;
  box-sizing: border-box;
  margin: 1px;
  background-color: #f5f5f5;
  /* box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.38); */;
  background-image: 
  radial-gradient(circle at 20%, black, black 1px, transparent 1px),
  radial-gradient(circle at 60% 70%, black, black 1px, transparent 1px),
  radial-gradient(circle at 50% 10%, black, black 1px, transparent 1px)
}
.table__cell::after {
  display: block;
  content: '';
  padding-bottom: 100%;
}
.game.end .table {
  filter: grayscale(100%);
  position: relative;
  animation: shake 0.3s;
}
.table::after {  
  content: 'Game Over';
  white-space: nowrap;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.game.end .table::after {
  animation: skew 0.5s 0.5s forwards;
}
@keyframes shake {
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
@keyframes skew {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  50%, 100% {
    opacity: 1;
    transform: translate(-50%, -50%) skew(-20deg);
  }
  100% {
    text-shadow: 7px 3px #999
  }
}

.game.end .joint {
  background-color: black;
  background-image: repeating-linear-gradient(-60deg,
    #6b5948,
    #6b5948 5px, 
    #9e856a 5px, 
    #9e856a 10px, 
    #524a43 10px, 
    #524a43 20px)
}

.joint {
  background-color: green;
  background-image: repeating-linear-gradient(-60deg, 
    #428d4b, 
    #428d4b 5px, 
    rgb(136, 211, 50) 5px, 
    rgb(136, 211, 50) 10px, 
    #2e5833 10px, 
    #2e5833 20px)
}

.fruit {
  background: 
    radial-gradient(circle at 50% 20%, #428d4b, #428d4b 10%, transparent 10%),
    radial-gradient(circle at 50% 20%, black, black 13%, transparent 13%),
    radial-gradient(circle at 35% 40%, white, white 5%, transparent 5%),
    radial-gradient(circle at 20% 45%, white, white 2.5%, transparent 2.5%),
    radial-gradient(circle at 35% 50%, red, red 30%, transparent 30%),
    radial-gradient(circle at 66% 50%, red, red 30%, transparent 30%),
    radial-gradient(circle at 45% 60%, red, red 30%, transparent 30%),
    radial-gradient(circle at 55% 60%, red, red 30%, transparent 30%),
    radial-gradient(circle at 35% 50%, black, black 35%, transparent 35%),
    radial-gradient(circle at 65% 50%, black, black 35%, transparent 35%),
    radial-gradient(circle at 45% 60%, black, black 35%, transparent 35%),
    radial-gradient(circle at 55% 60%, black, black 35%, transparent 35%),
    linear-gradient(0deg, #f5f5f5,#f5f5f5);
  background-color: red;
}

.description {
  margin-top: 1em;
}
.description::after {
  content: '';
  display: block;
  clear: both;
}
.description span {
  display: inline-block;
  border: 2px solid #fff;
  padding: 1em 2em;
  margin: 5px 0;
  color: #fff;
}

.description .button {
  display: block;
  float: right;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  padding: 1em 1.2em;
  border-width: 5px;
  border-style: solid;
  border-top-color: rgb(255, 187, 187);
  border-left-color: rgb(221, 134, 134);
  border-right-color: rgb(235, 68, 68);
  border-bottom-color: rgb(194, 70, 70) ;
  background-color: red;
  transform: translateY(0);
  transition: transform 0.3s;
  cursor: pointer;
}
.description .button:hover,
.description .button:focus {
  transform: translateY(2px);
  background-color: rgb(172, 20, 20);
}
.description .restart-button {
  position: relative;
}
.description .restart-button::before {
  /* content: '\0021E3'; */
  content: '\00003E';
  color: red;
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 50%; 
  transform: translateX(-50%) translateY(-150%) rotate(90deg);
  animation: clickDown 2s infinite cubic-bezier(0.19, 1, 0.22, 1); 
}

.description .restart-button:hover::before,
.description .restart-button:focus::before {
  display: none;
}
@keyframes clickDown {
  0%,
  25%,
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-150%) rotate(90deg) ;
  }
  50%,
  80% {
    opacity: 1;
    transform: translateX(-50%) translateY(-120%) rotate(90deg);
  }
}