body {
  font-family: sans-serif;
}

#game-root {
  width: 50vw;
  margin: 0 auto;
}

.table__row {
  display: flex;
}

.table__cell {
  flex-grow: 1;
  box-sizing: border-box;
  margin: 1px;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.38);
}

.table__cell::after {
  display: block;
  content: '';
  padding-bottom: 100%;
}

.table {
  margin-top: 2.5rem;
  background-color: #fff;
}

.game.end .joint {
  background-color: black;
}

.joint {
  background-color: #ccc;
}

.fruit {
  background-color: red;
}

.bomb {
  background-color: #4e3e40;
}

.description {
  margin-top: 1em;
}

.description .button {
  display: block;
  float: right;
}

.social-button {
  color: #fff;
  background-color: #3c0dd9;
  margin-right: 5px;
}

.space {
  display: block;
}

.hi-score {
  display: block;
  text-align: center;
  color: brown;
}

.game-title {
  font-size: 1.7rem;
  color: darkgreen;
  display: inline-block;
  margin: 0 0 0 5px;
}

.game-desc {
  margin-bottom: 10px;
  margin-top: -10px;
  display: inline-block;
}